header, footer {
  background-color: #303030;
  padding: 10px;
}

main {
  padding: 100px;
  background-image:url("https://res.cloudinary.com/dyt7rclxx/image/upload/v1619777864/Green-Python-h_aeqaz9.jpg");
}

.post {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}



.footer-column {
  flex: 50%;
  margin: 100px;
}
#menu1{
  position:relative;
  display:block;
  width:100%;
  height:auto;
  z-index:10;
  
}
#menu1 ul{
  position:relative;
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  widht:100%;
  heigth:auto;
}
#menu1 > ul::after{
  display:block;
  width:100%;
  height:0;
  clear:both;
  content:" ";
}
#menu1 ul li{
  position: relative;
  display:block;
  float:left;
  width:auto;
  height:auto;
}
#menu1 ul li a{
  display:block;
  padding:10px 20px 0px 20px;
  text-decoration: none;
  font-weight: bold;
  line-height:20px;
  height:40px;
  text-transform: uppercase;
  color:yellow;
  weight:50px;
  box-sizing:border-box;
  
}
#menu1 ul li ul{
  position:absolute;
  display:none;
  background:#38b6ff;
  width:100px;
  
}
#menu1 ul li:hover ul{
  display: block;
}
#menu1 ul li ul li{
  float:none; 
  width:100%;
}
#menu1 ul li ul li a{
display:block;
text-transform:none;
height:auto;
padding: 10px 20px;
box-sizing: border-box;
 border-top: 3px solid white;
}
#menu1 ul li ul li:first-child a{
  border-top:0px;
}
li:hover a{
  background:black;
}
p{
  color:white;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Original Surfer', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
html{
  background-color:black;
}
.vp img{
float: left;
margin-left: 0px 0px 0px 30px;
width: 270px;
height: 188px;
}
.nz img{
float: left;
margin-left: 0px 0px 0px 30px;
width: 270px;
height: 188px;
}
 
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Open+Sans&family=Original+Surfer&family=Yanone+Kaffeesatz:wght@700&display=swap');